<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Good Thymes Virtual Grocery</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link
            rel="stylesheet"
            type="text/css"
            media="all"
            href="../../css/gtvg.css"
            th:href="@{/css/gtvg.css}"
        />
    </head>

    <body>
        <form>
            <div>
                <label for="name">Enter your name:</label>
                <input
                    id="name"
                    name="name"
                    type="text"
                    placeholder="Enter your name"
                    required
                />
            </div>
            <div>
                <label for="prompt">Enter your prompt:</label>
                <input
                    id="prompt"
                    name="prompt"
                    type="text"
                    placeholder="Enter your prompt"
                    required
                />
            </div>
        </form>
    </body>
</html>
